.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;

    h2 {
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }

    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      .buttonsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;  // Increased gap for more space between buttons
        margin-right: 20px;  // Adjust spacing from the card content

        .button {
          padding: 10px 30px;  // Increased padding for wider buttons
          font-size: 16px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          background-color: #0070f3;
          color: white;
          transition: background-color 0.3s;
          width: 180px;  // Added fixed width to make buttons wider

          &:hover {
            background-color: #005bb5;
          }
        }
      }

      .description {
        width: 40%;
        position: relative;
        top: 10%;
        p {
          font-size: 16px;
          &::first-letter {
            font-size: 28px;
            font-family: 'Title';
          }
        }
        span {
          display: flex;
          align-items: center;
          gap: 5px;
          a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 150%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
        }
        
        img {
          object-fit: cover;
        }
      }
    }
  }
}
  